html
{
    scroll-behavior: smooth;
}

body
{   
    margin: 0 0 0 0;
    background-color:  rgb(16, 17, 17);
    height:2000px;
    font-size: 17px;

    font-family: 'Segoe UI';

    margin-left: auto;
    margin-right: auto;

    color:whitesmoke;
}
header
{
    width :100%;
    height: 80px;

    outline-color: rgb(64, 66, 66);
    outline-width: 2px;
    outline-style: solid;
}
.middle
{
    width:900px;
    height:1000px;

    display:block;
    margin-left: auto;
    margin-right: auto;

    border-color: rgb(64, 66, 66);
    border-width: 2px;
    border-style: solid;
}
.profile
{
    margin-top: 60px;
    width:100%;
    height:200px;

    outline-color: rgb(64, 66, 66);
    outline-width: 2px;
    outline-style: solid;
}
.profile-pfp 
{
    outline-color: rgb(64, 66, 66);
    outline-width: 2px;
    outline-style: solid;

    float:left;

    width : 200px;
    height : 200px;
}
.profile a
{
    text-align: center;
}
.profile-name
{
    margin-left: 10%;

    padding-top: 50px;

    width : 200px;
    height : 50%;
    
    float:left;

    font-size: 24px;
    align-self: center;
}
.profile-stats-info
{
    border-color: rgb(64, 66, 66);
    border-width: 2px;
    border-style: solid;

    border-left:0ch;
    border-bottom:0ch;

    width : 25%;
    height : 30px;

    padding-top:10px;
    padding-bottom:10px;

    font-size: 20px;
    align-self: flex-end; 
}
.right-stat
{
    border-right:0ch;
}
.profile-stats
{
    display:flex;
    
    width:700px;
    height:50px;
}
.circle 
{
    height: 50px;
    width: 50px;

    border-color: rgb(64, 66, 66);
    border-width: 2;
    border-style: solid;
    border-radius: 50%;

    float:left;
    margin-top: 50px;
  }
  .circle div
  {
    padding-top:13px;
    padding-left:40%;
  }
  .top-games
  {
    margin-top: 40px;
    width:100%;
    height:300px;

    display:flex;
  }
  .most-interacted-game
  {
    height : 300px;
    width : 250px;

    margin-left: 37px;

    background-color:  rgb(64, 66, 66);

    border-width: 1px;
    border-color: rgb(64, 66, 66);
    border-style: solid;
  }
  .most-interacted-game-name
  {
    height : 50px;
    width : 250px;

    background-color:  rgb(16, 17, 17);

    outline-width: 1px;
    outline-color: rgb(64, 66, 66);
    outline-style: solid;

    text-align: center;
}
  .most-interacted-game-name div
  {
    padding-top: 9px;
    padding-bottom: 9px;

    font-size: 24px;
  }
  .most-interacted-game-info
  {
    margin-top:220px;
    margin-left:25px;

    height : 30px;
    width : 200px;

    background-color:  rgb(16, 17, 17);

    outline-width: 1px;
    outline-color: rgb(64, 66, 66);
    outline-style: solid;

    text-align: center;
    z-index: 1;
  }
  .most-interacted-game-info div
  {
    padding-top: 5px;
    padding-bottom: 3px;
  }
  .steam-link
  {
    margin-top: 55px;
    margin-right: 50px;

    float:right;

    width: 50px;
    height: 50px;
  }