html
{
    scroll-behavior: smooth;
}

body
{   
    margin: 0 0 0 0;
    background-color:  rgb(16, 17, 17);
    height:2000px;
    font-size: 17px;

    font-family: 'Segoe UI';

    margin-left: auto;
    margin-right: auto;

    color:whitesmoke;
}
header
{
    width :100%;
    height: 80px;

    outline-color: rgb(64, 66, 66);
    outline-width: 2px;
    outline-style: solid;
}
.middle
{
    width:70%;
    height:1000px;

    display:block;
    margin-left: auto;
    margin-right: auto;

    border-color: rgb(64, 66, 66);
    border-width: 2px;
    border-style: solid;
}
.profile
{
    margin-top: 60px;
    width:100%;
    height:200px;

    outline-color: rgb(64, 66, 66);
    outline-width: 2px;
    outline-style: solid;
    display:flex;
}
.profile img 
{
    margin-left: 50px;

    outline-color: rgb(64, 66, 66);
    outline-width: 2px;
    outline-style: solid;

    width : 200px;
    height : 200px;
}
.profile a
{
    text-align: center;
}
.profile-name-div
{
    width : 100%;
    height : 100px;

    display:flex;
}
.profile-name
{
    margin-left: 13%;

    font-size: 24px;
    align-self: center;
}
.profile-name :first-line
{
    font-size: 32px;
}
.profile-stats-div
{
    width : 100%;
    height : 100px;

    display:flex;
}
.profile-stats
{
    margin-left: 13%;

    font-size: 24px;
    align-self: flex-end;
}